
.header{
    
    .nav{
        background-color: black;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        ul{
            display: flex;
            flex: auto; /*revisar*/
            justify-content: space-around;
            width: 2rem;
            list-style-type: none;
                li{
                    font-size: 2rem;
                    a{
                        flex: auto; /*revisar*/
                        text-decoration: none;
                        font-size: 3rem;
                        transition: all 0.6s;
                        &:hover{
                            color: rgb(58, 21, 21);
                            font-size: 1.3rem;
                  }
               }
            }
        }
    }
}
