@import "header";
@import "inicio";
@import "media-queris";
@import "reset";



/*SERVICIOS*/
.listas{
    list-style-position: inside;
    list-style-type: numbers;
    line-height: 2rem;
    color:aqua;
    font-size: 0.9rem;   

        .servicios{
            color: rgb(245, 208, 2);
            width: 30%;
    }
}

h4{
    text-align: center;
    padding: 1rem;
    color: white;
    
    h3{
    text-align: center;
    color: rgb(34, 30, 30);
    
        h2{
            text-align: center;
            padding: 20px;
            margin: 10px;
            margin-top: 0px;
            color: rgb(51, 39, 39);
            background-color: aliceblue;
    
        
        }   
    }
}



/*Parrafos en la pagina NOSOTROS*/

p{
    padding: 12rem;
    margin: 2rem;
    margin-left: $rem;
    color: rgb(184, 88, 88);
    font-size: 1.8rem;
}






