@import "header";
@import "inicio";
@import "media-queris";




/*SERVICIOS*/
.listas{
    list-style-position: inside;
    list-style-type: numbers;
    line-height: 2rem;
    color:aqua;
    font-size: 0.9rem;   

    .servicios{
        color: rgb(245, 208, 2);
        width: 30%;
}
}

h4{
    text-align: center;
    padding: $rem;
    color: white;
    
    h3{
    text-align: center;
    color: rgb(34, 30, 30);
    
    h2{
        text-align: center;
        padding: 20px;
        margin: 10px;
        margin-top: 0px;
        color: rgb(51, 39, 39);
        background-color: aliceblue;
    
        
}
}
}



/*Parrafos en la pagina NOSOTROS*/

p{
    padding: 12rem;
    margin: 2rem;
    margin-left: $rem;
    color: rgb(184, 88, 88);
    font-size: 1.8rem;
}

/*Lista de Servicios*/


/*Bordes de las imagenes en CONTENIDOS*/
.bordesRedondos{
    height: 270px;
    border-radius: 15%;
    padding: 2rem; 
    
}

/*Imagen NOSOTROS*/
.imagen{
    margin: 0;
    padding: 12rem;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagenes/logo33.jpg);
}

/*Imagen CONTACTENOS*/
.imagenPortada{
    width: 100%;
    height: 80vh;
    background-size: cover;
}


/*Footer*/
.piePagina{
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(155, 148, 85);
    font-size: 30px;
    color: rgb(81, 81, 175); 
    grid-area: footer; 
}




